# Dependencies
/node_modules
/client/node_modules
/server/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment variables (Sangat penting untuk keamanan!)
.env
/client/.env
/server/.env

# Build outputs
/client/dist
/server/dist
/build